@using LastPassProject.Helpers
@inject NavigationManager NavigationManager
@inject IUserPasswordList userPasswordList
@inject IModalService modal
<div class="parent buttononbottom"> 
    <button style="border-radius:70%;background-color:#D12F2E" @onclick="ShowModal">+</button>
</div>

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    private UserPassword userPassword = new UserPassword();
    private List<UserPassword> userPasswords = new List<UserPassword>();


    async Task ShowModal()
    {
         var dataForm = Modal.Show<FormComponent>("Create");
         var result = await dataForm.Result;

        if (!result.Cancelled)
        {
            userPasswords = userPasswordList.GetData();
            UserPassword userPassword = (UserPassword)result.Data;
            string encrypted = userPasswordList.Encrypt(userPassword.Password);
            userPassword.Password = encrypted;
            userPasswords.Add(userPassword);
            userPasswordList.UpdateData();
            NavigationManager.NavigateTo("/vault",true);
        }

    }

}
