<section class="card centerdiv flex-container"style="width:500px" >
    <div>
    <img src="img/logo3.png" width="150" height="22"/>
    </div>
    <div style="display:flex;flex-wrap:wrap;width:300px;justify-content:space-between">
        <div style="align-content:flex-start;width:30%;box-sizing:border-box;">
        LOG IN OR
        </div>
        <div style="align-content:flex-end;width:40%;box-sizing:border-box;">
            <GoogleSignInButtonComponent></GoogleSignInButtonComponent>
        </div>
    </div>
    
    <input />
    <input />
    <RoundedButtonComponent content="LOG IN" pageToMove="/vault"></RoundedButtonComponent>
    <div>
        <h6>FORGOT PASSWORD</h6>
    </div>
</section>

@code {

}
