@page "/h"
<header>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" style="background-color:red !important">
        <div class="container-fluid " style="display:flex;flex-direction:row;">
            <img  src="img/LastPass_Logo_White.png" height="24" width="150"  />
            <div class="col-8 collapse navbar-collapse">
                <div class=" collapse navbar-collapse">
                    <input placeholder="search my vault" />
                </div>
                <div>username</div>
            </div>
        </div>
    </nav>

        
   
 
</header>

@code {
    
}
