@page "/vault"
@using LastPassProject.Components
<div>
    <HeaderComponent></HeaderComponent>
</div>
<div style="display:flex;flex-direction:row">
    <div class="col-1">
        <NavMenu></NavMenu>
    </div>
    <div>
        <VaultComponent></VaultComponent>
    </div>
</div>
